<!DOCTYPE html>
<html lang="ko" ng-app="book">
<head>
	<meta charset="UTF-8">
	<title>서점</title>
	<script src="../components/angular/angular.js"></script>
	<script src="../js/controllers/book.js"></script>
	<script src="../js/filters/customFilter.js"></script>
	<script src="../js/controllers/bookList.js"></script>
	<link href="../components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
	<link href="../components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>
</head>
<body ng-controller="bookCtrl">
	<div class="navbar navbar-inverse">
		<a class="navbar-brand" href="#">서점</a>
	</div>
	<div class="panel panel-default row" ng-controller="bookListCtrl">
		<div class="col-xs-3">
			<a ng-click="selectGrade()" class="btn btn-block btn-default btn-lg" ng-class="getGradeClass()">Home</a>
			<a ng-click="selectGrade(item)" ng-repeat="item in data.books | orderBy: 'grade' :scopeOrderBy| limit:'grade'" 
				class="btn btn-block btn-default btn-lg"> {{toStar(item)}} </a>
			<a ng-click="selectOrder()" class="btn btn-block btn-default btn-lg">정렬</a>
			<a ng-click="changeStar()" class="btn btn-block btn-default btn-lg"
				>*만들기</a>
		</div>
		<div class="col-xs-8">
			<div class="well" ng-click="show(item)" 
				ng-repeat="item in data.books | orderBy:'grade':scopeOrderBy 
							| filter:gradeFilterFn  | range:selectedPage:pageSize ">
				<h3>
					<strong>{{item.name}}</strong>
					<span class="pull-right label label-primary">
						{{item.price | number:0}} 원	<!-- number:0 세자리씩 끊어지게 한다 -->
					</span>
				</h3>
				<span>{{item.grade}} 점</span>
					
			</div>
			<span class="lead">{{item.description}}</span>
			<div class="pull-right btn-group">
				<a ng-repeat="item in data.books | filter:gradeFilterFn | pageCount : pageSize "
					ng-click="selectPage($index+1)" class="btn btn-default"
					ng-class="getPageClass($index+1)" 
				>
					{{$index+1}}
				</a>
			</div>
		</div>
	</div>

</body>
</html>