<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <script src="../components/angular/angular.js"></script>
    <script src="../js/example/controller.js"></script>
    <script src="../js/example/directive.js"></script>
    <link href="../components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="../components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>
</head>
<body ng-app="example" ng-controller="ExampleController">
    <button ng-click="clickUnfocused()">포커스가 없습니다.</button>
    <button ng-init-focus ng-click="clickFocused()">포커스가 있습니다.</button>
    <div>
        {{message.text}}
    </div>

    <hello-world></hello-world>

    <movie username="히말라야" reputation="9" img="http://ticketimage.interpark.com/Movie/still_image/V15/V1503236p_s01.gif" >
    </movie>

    <br/>

    <ul>
        <li>1</li>
        <li>2</li>
        <li restricted>3</li>
        <li restricted>4</li>`
    </ul>

    <products></products>

</body>
</html>