<!DOCTYPE html>
<html lang="ko" >
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <script src="../components/angular/angular.js"></script>
    <script src="../js/hello.js"></script>
    <link href="../components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="../components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>
</head>
<body ng-app="hello" ng-controller="HelloController">
    <input type="text" ng-model="hello.msg">
    <br>
    <strong>{{hello.msg}}</strong>
    <br>
    <button ng-click="toUpper()">대문자로 전환!</button>

    <br>
    <h1> 장바구니 </h1>

    <h2>직접추가</h2>
    <div>
        <span>이름: <input type="text" ng-model="input.title "/></span>
        <span>수량: <input type="text" ng-model="input.count"/></span>
        <span>가격: <input type="text" ng-model="input.price"/></span> 
        <button ng-click="insert(input)">추가</button>       
    </div>
    <br>
    <div ng-repeat="item in items">
        <span>{{$index}}</span>
        <span>{{item.title}}</span>
        <span> 수량 : <span><input type="text" ng-model="item.count"/> </span></span>
        <span> 가격 : {{item.price | number:0}}원</span>
        <span> 총합 : {{item.count * item.price | number:0}}원 </span>
        <button ng-click="delete($index)">삭제</button>
    </div>
    <br>

    <!-- 아래와 같이 쓰면 정석적인 코드이긴 하나 메서드 호출이 많기 때문에 좋지 않은 코드이다.
            watch 기능을 쓰면 해결가능

            <div>전체 금액 : {{bill.totalPrice | number:0}}원</div>
            <div>할인 금액 : {{bill.discountPrice | number:0}}원</div>
            <div>결제 금액 : {{bill.payPrice | number:0}}원</div>
     -->
    <div>전체 금액 : {{getSum(items) | number:0}}원</div>
    <div>할인 금액 : {{getDiscount(getSum(items)) | number:0}}원</div>
    <div>결제 금액 : {{getSum(items)-getDiscount(getSum(items)) | number:0}}원</div>


    <br><br>
    <div class="container">
        <button class="btn btn-info" ng-click="showQuiz()">문제 시작</button>
        <div class="well clearfix">
            <div ng-hide="result===false">
                <p><h1>3초안에 답을 말하세요!</h1></p>
                10-1+29+2-1 = <input ng-model="answer">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="well"> {{result}} <br> {{info}}</p>
            </div>
        </div>
    </div>

    
</body>
</html>